/gatling/conf/generated.keystore
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
releases
/local.sbt
/buildinfo.properties
crypto/
/repositories-truststore.jks
/repositories
/sbt
/sbt-launch.jar
/stubber.cfg
